.feature-box {
    background-color: rgba($color-white,.8);
    font-size:1.5rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0 1.5rem 4rem (rgba($color-black,.8));
    transition: transform .2s;
    &__icon{
        font-size: 6rem;
        margin-bottom: .3rem;
        display: inline-block;
        -webkit-background-clip: text;
        background-image: linear-gradient(to left,
        $color-primary-darker,$color-primary-light);
        color: transparent;    
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.02);
    }
    &__text {


    }
}
