@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  90% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUpbutton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .main-heading-primary {
    display: block;
    font-size: 6rem;
    letter-spacing: 6rem;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    /*
        animation-delay: 2s;
        animation-iteration-count: 2;
        */ }
  .main-heading-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1rem;
    animation-name: moveFromRight;
    animation-duration: 1s; }

.text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, rgba(123, 124, 194, 0.664), #68bbeb);
  color: transparent;
  letter-spacing: .2rem;
  transition: all .001s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-padding-top-small {
  padding-top: 1rem; }

.u-padding-top-large {
  padding-top: 5rem; }

.u-padding-buttom-small {
  padding-top: 2rem; }

.u-padding-buttom-large {
  padding-top: 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  position: relative; }

.btn:hover {
  transform: translateY(-3rem);
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.9); }
  .btn:hover::after {
    transform: scaleY(1.1) scaleX(1.1); }

.btn:active {
  transform: translateY(1rem);
  box-shadow: 0 0.4rem 0.1rem black; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .01s; }

.animated_button {
  animation-name: moveUpbutton;
  animation-duration: .9s;
  animation-delay: .4s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #99b5e9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #99b5e9;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #99b5e9;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  height: 75vh;
  background-image: linear-gradient(to right bottom, rgba(153, 181, 233, 0.459), rgba(104, 187, 235, 0.404)), url(img/banner.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0, 100% 65vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: .1rem;
    left: .1rem; }
  .header__logo {
    height: 8.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) /2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) /4); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 8rem) /3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*  8rem) /3) + 8rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4*  8rem) /5); }
  .row .col-3-of-5 {
    width: calc(3*((100% - 4*  8rem) /5) + 2*8rem); }
  .row .col-1-of-12 {
    width: calc(((100% - 11*  8rem) /12)); }
  .row .col-3-of-12 {
    width: calc(3*((100% - 11*  8rem) /12) + 2 * 8rem); }

.section-about {
  background-color: #bbdaf3;
  padding: 25rem 0;
  margin-top: -8vh;
  clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 92%); }

.section-features {
  padding: 12rem 0;
  background-image: linear-gradient(to right bottom, rgba(153, 181, 233, 0.459), rgba(104, 187, 235, 0.404)), url(img/banner.jpg);
  background-size: cover;
  transform: skewY(4deg); }
  .section-features > * {
    transform: skewY(-4deg); }

.section-course {
  background-color: #bbdaf3;
  padding: 10rem 0 15rem 0; }

.section-info {
  padding: 10rem 0;
  background-color: #bbdaf3; }

.section-form {
  padding: 1rem 0;
  background-image: linear-gradient(to right bottom, rgba(123, 124, 194, 0.664), #68bbeb); }

.form-part {
  background-image: linear-gradient(84deg, rgba(255, 255, 255, 0.2) 0%, rgba(123, 124, 194, 0.5) 80%, #68bbeb 98%), url(img/banner.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem black; }
  .form-part__form {
    width: 50%;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;
    position: absolute;
    transition: .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 10%;
      top: 5rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 13rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #99b5e9;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5rem 4 rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  transition: transform .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .3rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, rgba(123, 124, 194, 0.664), #68bbeb);
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .5s;
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 1rem 1.5rem 1rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #99b5e9; }
    .card__side--back {
      background-color: rgba(123, 124, 194, 0.664);
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, rgba(123, 124, 194, 0.664), #68bbeb); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #43e967, #96df99); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #e7c52c, #d8d193); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.card-csection {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card-csection__side {
    height: 20rem;
    transition: all .5s;
    color: blue;
    position: absolute; }
    .card-csection__side--front {
      background-color: #99b5e9;
      top: 0rem;
      left: 3.2rem; }
    .card-csection__side--back {
      background-color: #99b5e9;
      transform: rotateY(180deg); }
  .card-csection:hover .card-csection__side--front {
    transform: rotateY(180deg);
    background-color: rgba(123, 124, 194, 0.664); }
  .card-csection:hover .card-csection__side--back {
    background-color: rgba(123, 124, 194, 0.664);
    transform: rotateY(0deg); }

.info {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding-left: 2rem;
  padding-bottom: 5rem;
  transform: skewX(12deg);
  /* becuase __shape already have a transform
   & > * {
        transform: skewX(-12deg);
    }*/ }
  .info__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(-12deg); }
  .info__image {
    height: 100%; }
  .info__text {
    transform: skewX(-12deg); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block; }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #99b5e9; }
  .form__input:focus:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input:focus::-webkit-input-placeholder {
    color: pink; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #99b5e9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -2.5rem;
  top: -.4rem; }
  .form__radio-button::after {
    content: " ";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    position: absolute;
    background-color: #99b5e9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.footer {
  background-color: #68bbeb;
  margin-top: .9rem;
  padding-top: .5rem;
  padding-bottom: 10rem;
  font-size: 1.4rem;
  border-radius: 2rem; }
  .footer__logo {
    width: 20rem;
    height: auto; }
  .footer__logo-box {
    text-align: center;
    padding-bottom: 5rem; }
  .footer__navigation {
    border-top: 1px solid rgba(123, 124, 194, 0.664);
    padding-top: 1rem;
    display: inline-block; }
  .footer__list {
    list-style: none;
    background-color: blue; }
  .footer__item {
    display: inline-block;
    padding: 0 1rem; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #99b5e9;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .7s; }
  .footer__link:hover, .footer__link:active {
    color: #99b5e9;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: black;
    border-radius: 5rem;
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    text-transform: uppercase;
    background-color: blue;
    font-size: 1.4rem;
    color: #99b5e9; }

.navigation__checkbox {
  display: none; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(#99b5e9, #68bbeb);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__button {
  height: 7.4rem;
  width: 7.1rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 6.0rem;
  right: 6.0rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 5rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .4s;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem); }

.navigation__link span {
  margin-right: 2rem;
  display: inline-block; }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all .4s; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 4rem;
  margin-left: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: red;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(-45deg); }
