
* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica;
}
.container{
    width: 1540px;
    background-color: rgb(240, 222, 222);
   /*margin: top right bottom left; */
   margin: 20px auto 0 auto; 
}
.panel{
/* background-color: rgb(131, 121, 127);*/
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 60px;
}
.panel img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
 /*.panel img {
height: 50px;
width: 50px;
border-radius: 50%;
}*/
.second-panel{
    background-color: rgb(238, 134, 134);
    width: 25%;  
    float: left;
    margin-bottom: 300px;
    
  
}
.child-second-panel{
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 60px;
}
.child-second-panel-links{
    padding-top: 10px;
}
.third-panel{
     background-color: rgb(201, 178, 223);
   padding-top: 20px;
    width: 25%;
    float: left;
    
}
.fourth-panel{
    width: 50%;
    position: relative;
  /*  background-color: rgb(215, 64, 235);*/
}
.fifth-panel{
    margin-top: 20px;
    padding-top: 5px;
    border-top: 3px solid red;
   /*background-color: aqua;*/
    width: 25%;
    margin-left: auto;
    margin-right: auto;
 
    
}
h1,h2 {
color: blue;
}
h1{

    font-size: 35px;
    margin-bottom: 20px;
}
h2{
    font-size: 22px;
}
p{
    text-align: justify;
    font-size: medium;
}
a {

    font-size: smaller;
}

.top-text{
   /* color: red; */
}
.bottom-text{
    color: rgb(156, 214, 62);
   // width: 75%;
}
.child2-panel {
    float: left;
}
.child3-panel{
    position: absolute;
    top: 20px;
    right: 500px;
    
}
