.u-center-text {
    text-align: center;
}
.u-margin-bottom-8 {
    margin-bottom: 8rem;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-small {
    margin-bottom: 2rem;
}
.u-padding-top-small {
    padding-top: 1rem;
}
.u-padding-top-large {
    padding-top: 5rem;
}
.u-padding-buttom-small {
    padding-top: 2rem;
}
.u-padding-buttom-large {
    padding-top: 5rem;
}