// colours
$color-primary: rgb(93, 127, 189);
$color-primary-light: rgb(100, 102, 197);
$color-white: #fff;
$color-black: #000;
$color-white-grey-1: #bbdaf3;
$color-primary-darker: rgb(32, 34, 148);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
